* 
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/** Header dan Navbar **/
.menu-bar {
	background-color: #4A7FF1;
	padding-right: 30px;
	padding-left: 30px;
}

.nav-link {
	font-size: 18px;
	color: #fff !important;
	margin: 20px;
}

.nav-item .button-user {
	font-size: 18px;
	color: #4A7FF1 !important;
	margin: 20px;
}

.navbar-nav {
	text-align: center;
}

.menu-bar .navbar-toggler {
	padding-right: 0;
	outline: none;
	border: none;
}

.banner {
	height: 50vh;
	background-color: #4A7FF1;
	background-size: cover;
	background-position: center;
	color: #fff;
}

.banner h1 {
	font-size: 48px;
	padding-top: 100px;
	text-shadow: 0 0 30px rgba(0,0,0,0.5);
	font-weight: 600;
}

.search-job {
	padding: 30px 0;
	margin: -50px 8% 50px;
	background-color: #F0F0F0;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-job .form-control{
	max-width: 250px;
	display: inline-flex;
	margin: 10px 5px;
	border-radius: 10px;
	box-shadow: none !important;
	border: none !important;
}

.search-job .btn-primary{
	border-radius: 0;
	box-shadow: none !important;
	border: none;
	display: inline-flex;
	margin: 30px;
	padding: 5px 30px;
}

/** Perusahaan Rekomendasi **/
#recruiters {
	padding-top: 30px;
	padding-bottom: 30px;
}

#recruiters h3 {
	text-align: left;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}

#recruiters img {
	max-width: 100px;
	margin: 10px 40px;
}

/** List Lowongan **/
#jobs {
	background: #f8f8f8;
	padding: 50px 0;
}

#jobs h5{
	text-align: left;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;	
}

.company-details {
	box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
	border-radius: 5px;
	margin-bottom: 30px;
}

.job-update {
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.job-update .fa {
	margin-top: 5px;
	margin-right: 10px;
	color: #4A7FF1;
}

.apply-btn {
	height: 40px;
	background-color: #4A7FF1;
	padding: 7px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.apply-btn .btn-primary {
	padding: 0 30px;
	float: right;
	border-radius: 0;
	box-shadow: none !important;
	background: transparent;
	border: 1px solid #fff;
}

/** KeunggulanLokerku **/
#site-stats {
	padding: 100px 0;
}

#site-stats h3 {
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;	
}

.stats-box {
	padding: 30px;
	border-radius: 10px;
	margin: 20px 0;
	box-shadow: 0 2px 20px 0 rgba(110,130,208, .18);
}

.stats-box .fa {
	font-size: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/** Footer **/
#footer {
	background: #4A7FF1; 
	padding: 20px 10px 8px;
}

.footer-image {
	margin: 30px 0;
}

#footer p {
	color: #fff;
}

#footer hr {
	color: #fff;
}

.fa-heart {
	color: #f00;
}

/** Page_List_Lowongan **/
#jobs_lowongan {
	padding: 30px 0;
}

#jobs_lowongan h5{
	text-align: left;
	padding-bottom: 60px;
	font-weight: 600;
	font-size: 24px;	
}

.company-details-lowongan {
	box-shadow: 0 2px 20px 0 rgba(110,130,208, .18);
	border-radius: 5px;
	margin-bottom: 50px;
}

.job-update-lowongan {
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.job-update-lowongan .fa {
	margin-top: 5px;
	margin-right: 10px;
	color: #4A7FF1;
}

.apply-btn {
	height: 40px;
	background-color: #4A7FF1;
	padding: 7px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.apply-btn .btn-primary {
	padding: 0 30px;
	float: right;
	border-radius: 0;
	box-shadow: none !important;
	background: transparent;
	border: 1px solid #fff;
}

/** Page_Login **/
.background {
	background: #4A7FF1 !important;
}

.text-center-login {
	margin-top: 20px;
	text-align: center;
}





