*
{
	margin: 0;
	padding: 0;
}

/* index */
.navbar {
	background-color: #4A7FF1;
}

.navbar-nav li a {
  color: white !important;
  margin-right: 30px;
}

.navbar-nav li a:hover {
  color: #4A7FF1;
}

.container  {
	margin-top: 30px;
}

.py-5 {
	height: 500px;
	background-color: #4A7FF1;
}

.perusahaan {
	color: #4A7FF1;
	text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

.py-5 h1 {
	margin-top: 100px;
	font-size: 48px;
	font-family: sans-serif;
	font-weight: bold;
}

.today-special {
	margin-top: 150px;
	text-align: left;
}

.today-special h4{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #2E3C40;
}

.today-special p{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #2E3C40;
}

.card-one {
	width: 14rem;
    border: 1px solid #888888;
    border-radius: 25px;
    box-shadow: 4px 5px 5px 1px #888888;
}

.card-text {
	color: #FEA200;
	font-weight: 500;
}

.card-text {
	color: #2E3C40;
	font-weight: 500;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: normal;
}

.card-title {
	color: #2E3C40;
	font-weight: 500;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}

.card-img-top {
	border-radius: 25px;
}    

.col-sm-3 {
	padding-top: 30px;
	border-radius: 25px;
}

.footer {
	margin-top: 100px;
	height: 300px;
	background-color: #4A7FF1;
}

.copyright {
	color: #ffffff;
	font-size: 48px;
	align-content : center;
	display: flex;
	justify-content: center;
	padding-top: 120px;
}

.link {
	text-decoration: none;
	color: #2E3C40;
}

.text-center { 
	background-color: #24CB95;
	margin-top: 50px;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%
}

.text-center button{ 
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;	
	align-content: center;
	justify-content: center;
	display: flex;
}

/* masuk */
html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #4A7FF1;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	background-color: #ffffff;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

.form-group button {
	margin-top: 30px;
}

.list {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
}

.card {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  width: 100px;
  display: block;
}

.text h5 {
	font-family: sans-serif;
}

.content h3,
.content p {margin: 10px;}

.text-right {
	float: right;
}

.btn {
	margin-left: 700px;
	margin-top: 30px;
	justify-content: flex-end;
}
